@using Web.Portfolio.Views.Shared
@using Web.Portfolio.Views.Shared.Components
@page "/"

@*<PageTitle>Index</PageTitle>*@

<Card>
    <h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />
</Card>
